*{
 padding: 0;
 margin: 0;   
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: orange;
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
}

.groceries{
    width: 99%;
    min-height: 100vh;
    background-color: white;
    box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.5);
    & h1{
        font-size: 2.5rem;
        margin-top: 1em;
    }
    & input{
        font-family: inherit;
        outline: 0;
        border: 0;
        border-bottom: 2px solid black;
        width: 70%;
        font-size: 1.5rem;
    }
}

#all-items{
   & h2{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    font-size: 2rem;
   } 
}

@media(max-widht:480px){
    .groceries{
        & h1{
            font-size: 2rem;
        }
        & i{
            font-size: 1.5rem;
        }
        & input{
            font-size: 1rem;
        }
    }
    #all-items{
        & h2{
            font-size: 1.5rem;
            margin-left: 25px;
        }
    }
}