.cell{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    font-size: 50px;
}
.container{
    text-align: center;
}
.cell-container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width: 225px;
    margin: auto;
}